@import 'style.scss';

.post-form{
    width: 60%;
    background: $secondary;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    input{
        margin-bottom: 1rem;
    }
    textarea{
        margin-bottom: 1rem;
    }
}
.rules{
    width: 20%;
    background: $secondary;
    border-radius: 10px;
    color: $text-color;
}