<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "layouts/basehead.njk" %}
        {% block head %}{% endblock %}
    </head>
    <header>

        <nav>
            <ul>
                {% include "layouts/navbar.njk"%}
                {% block navbar %}{% endblock %}
            </ul>
        </nav>
    </header>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>