<!DOCTYPE html>
<html lang="en">
<head>
    {% include "basehead.njk" %}
    {% block head %}{% endblock %}
</head>
<header>
    {% include "navbar.njk"%}
</header>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>