{% extends "base.njk" %}
{% block head %}
    <link rel="stylesheet" href="css/style.css">
    <description></description>
    <title>Home Page</title>
{% endblock %}

{% block content %}

{% endblock %}