{% extends "base.njk" %}
{% block head %}
    <link rel="stylesheet" href="css/style.css">
    <description></description>
    <title>Home Page</title>
{% endblock %}

{% block content %}
    <h1>This is an H1</h1>
    <h2>Styled with SCSS</h2>
{% endblock %}