{% extends "layouts/base.njk" %}
{% block head %}
    <link rel="stylesheet" href="css/logged.css">
    <description></description>
    <title>Home Page</title>
{% endblock %}

{% block navbar %}
    <li><a href="/profile">Profile</a></li>
{% endblock %}

{% block content %}
    <main>
        <section class="scroll-header">
            <p>User Name</p>
            <button><a href="/post"> New Post +</a></button>
        </section>
        {% for post in posts %}
            <div>
                <h3>{{ post.title }}</h3>
                <p>{{ post.posttext}}</p>
            </div>
        {% endfor %}
    </main>
{% endblock %}