{% extends "layouts/base.njk" %}
{% block head %}
    <link rel="stylesheet" href="css/style.css">
    <description></description>
    <title>Home Page</title>
{% endblock %}

{% block navbar %}
    <li><a href="/">Profile</a></li>
{% endblock %}

{% block content %}
    <main>
        {% for item in sequence %}
            <div>
                <p>this</p>
            </div>
        {% endfor %}
    </main>
{% endblock %}